/* css styles */


h1.title {
  text-align: center;
  font-size: 30pt;
  font-family: "Courier New", monospace;
  color: white;
}



p, li{
  font-size: 12pt;
  font-family: "Courier New", monospace;
}

button {
  background-color: #45a049; /* verde */
  color:black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.img-hover:hover {
  opacity: 0.5;   /* semi-transparente */
  transition: opacity 0.3s ease; /* animación suave */
  background-color: #45a049;;
}

.link-hover:hover {
  opacity: 0.5;              /* semi-transparente */
  transition: opacity 0.3s ease; /* animación suave */
}
