numpy==2.3.5
matplotlib==3.10.7
seaborn==0.13.2
pandas==2.3.3
alpha_vantage==3.0.0
mplfinance==0.12.10b0
statsmodels==0.14.6
scikit-learn==1.7.2
skforecast==0.19.0
plotly==6.5.0
jupyter==1.1.1
nbconvert==7.16.6 
ipywidgets==8.1.8
ipykernel==7.1.0 
datetime